ul#list.list > li > div.options {
    margin-top: 20px;
    margin-left: 15px;
}

ul#list.list > li > div.options > div.option {
    line-height: 32px;
}

ul#list.list > li > div.options > div.option > img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

ul#list.list > li > div.options > div.option > span {
    border-bottom: 1px dashed #ccc;
    font-size: 15px;
}

ul#list.list > li#comments {
    background: #cce0cb;
}

ul#list.list > li#statistics {
    background: #d2edff;
}

ul#list.list > li.page > div > div.title {
    text-align: center;
    font-weight: bold;
}

ul#list.list > li.page > div > div.vote {
    margin-top: 7px;
}

/* Прогресс */
ul#list.list > li.page > div > div.progress {
    height: 21px;
    line-height: 21px;

    font-size: 12px;
    position: relative;
    background: yellow;
    border: 3px solid #f0f0f0;
    text-align: center;
}

ul#list.list > li.page > div > div.progress > div.right {
    height: 100%;
    float: right;
    background: #f0f0f0;
}

ul#list.list > li.page > div > div.progress > div.count {
    position: absolute;
    text-align: center;
    width: 100%;
}

ul#list.list > li.page > div > div > div.metr {
    margin-bottom: 7px;
}

/* Шкала */
table.metr {
    width: 100%;
    background: white;
    border-spacing: 0;
    border: 3px solid #f0f0f0;
}
table.metr > tbody > tr > td {
    padding: 2px 0;
    width: 1px;
    border: 1px solid white;
}
table.metr > tbody > tr > td > button {
    width: 100%;
    padding: 5px 7px;
    margin: 0;
    background: #f0f0f0;
    border: none;
    border-radius: 0;
}
table.metr > tbody > tr > td > button.fill {
    background: yellow;
    color: black;
}

div.item-title {
    margin: 7px 0 0 7px;
}

p.hide {
    margin: 3px 0;
}